.sidebar {
  width: 260px;
  min-height: 100vh;

  background:
    linear-gradient(
      180deg,
      #1d9148 0%,
      #14763d 100%
    );

  color: white;

  display: flex;
  flex-direction: column;

  padding: 24px 18px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;

  margin-bottom: 40px;
}

.logo h2 {
  margin: 0;
  font-size: 1.3rem;
  font-weight: 800;
}

.nav-item {
  width: 100%;

  border: none;
  background: transparent;

  color: white;

  text-align: left;

  padding: 14px 16px;

  border-radius: 12px;

  cursor: pointer;

  font-weight: 600;

  transition: 0.2s;
}

.nav-item:hover {
  background: rgba(255,255,255,.15);
}

.nav-item.active {
  background: rgba(255,255,255,.22);
}
